<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/link-bs')%>
    
    <title>home page</title>
</head>
<body>
    <%-include('partials/nav-bar')%>
    <div class="container">
    <h1>About Us!</h1>
    <p>RockStar Music School merupakan sekolah musik berbasis teknologi masa kini, dengan tenaga pengajar yang handal dan berpengalaman.</p>

    </div>
    
    
</body>
</html>