<%- include('./partials/header', {title: 'Home'})  %>





<div class="jumbotron">
    <h1 class="display-4">You Havent Logged In</h1>
    <p class="lead">Choose The Button Below In Order To Sign In Or To Create An Account</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/registrasi" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/logIn" role="button">SignIn</a>
  </div>











<%- include('./partials/footer')  %>