<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/link-bs')%>
    <title>berhasil page</title>
</head>
<body>
    <%-include('partials/nav-bar')%>
    <h1>Selamat Anda terdaftar di Rockstar Music School</h1>
    <h3><a href="/my-class/?id=<%=studentid %>" >check My Class</a></h3>
</body>
</html>