<%- include('./partials/header', {title: 'Home'})  %>





<div class="jumbotron">
    <h1 class="display-4">Rockstar Music School</h1>
    <p class="lead">Join Us And Become A Professional Musician </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/registrasi" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/checkJurusan" role="button">Courses</a>
  </div>











<%- include('./partials/footer')  %>